*.fpk
**/CIV4ArtDefines_Misc.xml
Resource/
CvGameCoreDLL/temp_files/
CvGameCoreDLL/_UpgradeReport_Files/
CvGameCoreDLL/.vs/
Release/
Final_Release/
Debug/
Assert/
Profile/
UpgradeLog.XML
*.opensdf
*.sdf
*.suo
Assets/Maps/Settler/.~lock.*.csv\#
Assets/Maps/Settler/Period/.~lock.*.csv\#
Assets/Maps/War/.~lock.*.csv\#
Assets/Maps/War/Period/.~lock.*.csv\#
RFC Dawn of Civilization Cross Overhaul.ini.bak
